.navbar-container{
    width: 100%;
    height: 60px;
    background-color: rgb(55, 79, 160);
    display: flex;
    /* z-index: 1000; */
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:100%;
}
.search-icon{
    font-size: 1.2rem;
    background-color: rgba(0,0,212,0.2);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.7s ease-in;
}
.input-container{
    position:relative;
    width: 300px;
    /* overflow: hidden; */
}
.input-container.overflow{
    overflow: unset;
}
.input-container input{
    /* height: 100%; */
    width: 100%;
    padding: 5px 10px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 0;
    outline: 0;
    color: rgba(0,0,212,0.6);
}
.input-container label{
    position: absolute;
    top:2px;
    left:10px;
    pointer-events: none;
    color: rgba(0,0,212,0.6);
    /* opacity: 0.3; */
    transition: color 0.3s ease-in-out,
    transform 0.5s ease-in-out,
    letter-spacing 0.8s ease-in-out,
    opacity 1s ease-in-out;
}
.input-container input:valid + label{
    opacity: 0;
}
.input-container input:focus + label{
        color:#000;
        transform: translateX(150px);
        letter-spacing: 10px;
        opacity: 0;
}

.input-container .search-result{
    position: absolute;
    top:50px;
    /* top:250px;
    bottom: 10px;
    left: 0; */
    color:#000;
    background-color: #fff;
    z-index: 1000;
    min-height: auto;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    overflow-y: scroll;
    box-shadow: 0px 3px 10px rgba(255,255,255,0.5),
    0px -3px 10px rgba(255,255,255,0.5);
}
.input-container .search-result::-webkit-scrollbar {
    width: 0.7em;
  }
   
  .input-container .search-result::-webkit-scrollbar-track {
    background-color: rgba(0,0,212,0.1);
  }
   
  .input-container .search-result::-webkit-scrollbar-thumb {
    height: 10px;
    border-radius: 0 10px 10px 0;
    background-color: rgb(103, 125, 199);
  }
  
.search-result li{
    width: 100%;
    background-color: rgb(55, 79, 160);
}
.search-result li a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color:rgb(55, 79, 160);
    color:#fff;
    width: 100%;
    padding:7px 10px;
}
.search-result li a img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.search-icon{
    display: none;
}
@media screen and (max-width:600px) {
    .navbar .social{
        display: none;
    }
}
@media screen and (max-width:424px) {
    .input-container{
        position: fixed;
        top:60px;
        top:0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        z-index: 999;
        transform: translateX(100%);
        transition: transform 0.7s ease-in-out;
    }
    .input-container.active{
        transform: translateX(0%);
    }
    .input-container input,
    .input-container .search-result{
        position: absolute;
        width: 80%;
        top:30px;
        left: 12%;
    }
    .input-container label{
        top:32px;
        left:50px;
    }
    .input-container .search-result{
        top:65px;
    }
    .search-icon{
        display: flex;
    }
}